resources/sm.yml
BatchProcessingStateMachine:
  name: BatchProcessingStateMachine
  definition:
    Comment: "State machine for the batch processing pipeline"
    StartAt: RunDataCrawler
  States:
    RunDataCrawler:
      Type: Task
      Resource: arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${opt:stage}-RunDataCrawler
      Next: Wait
    WaitCrawler:
      Type: Wait
      Seconds: 30
      Next: CheckCrawlerStatus
    CheckCrawlerState:
      Type: Choice
      Default: WaitCrawler
      Choices:
        - And:
          - Variable: '$.State'
            StringEquals: READY
          - Variable: '$.Status'
            StringEquals: SUCCESS
          Next: RunETLInsertAthena
        - And:
          - Variable: '$.State'
            StringEquals: READY
          - Variable: '$.Status'
            StringEquals: FAILED
          Next: CrawlerFailed
    CrawlerFailed:
      Type: Fail
      Cause: "Crawler run has failed"
      Error: "Crawler run has failed"
#    RunETLInsertAthena:
#      Type: Task
#      Resource: arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${opt:stage}-RunETLInsertAthena
#      Next: WaitAthena
#    WaitAthena:
#      Type: Wait
#      Seconds: 30
#      Next: CheckAthenaStatus
